<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.test.Mapper.UserMapper">


    <insert id="insert" parameterType="com.web.test.DO.UserDemo">
        INSERT INTO userDemo (username, password,name,id_card,phone,email) VALUES (#{username}, #{password},#{name}, #{idCard},#{phone}, #{email})
    </insert>
    <insert id="changeinfo" parameterType="com.web.test.DO.UserDemo">
        UPDATE userDemo SET name=#{name},phone=#{phone},email= #{email} WHERE username = #{username}
    </insert>

    <insert id="changepass" parameterType="com.web.test.VO.Userpass">
        UPDATE userDemo SET password=#{newpassword} WHERE username = #{username}
    </insert>

    <select id="getUser" resultType="com.web.test.DO.User" >
        SELECT  id ,username,password FROM  user WHERE username=#{username}
    </select>

    <select id="setUser" parameterType="com.web.test.DO.User" >
        INSERT INTO user (username, password) VALUES (#{username}, #{password})
    </select>

    <select id="setStudent" parameterType="com.web.test.DO.Student" >
        INSERT INTO student
            (UserId, Name, StudentNumber, Gender, PhoneNumber, Email, Year, AcademyDictionary, MajorDictionary, PoliticalStatusDictionary, StudentTypeDictionary)
        VALUES (#{UserId}, #{Name},#{StudentNumber},#{Gender},#{PhoneNumber},
                #{Email},#{Year}, #{AcademyDictionary}, #{MajorDictionary},
               #{PoliticalStatusDictionary},#{StudentTypeDictionary})
    </select>


    <update id="updateStudent" parameterType="com.web.test.DO.Student">
        UPDATE student
        SET Name = #{Name},
            StudentNumber = #{StudentNumber},
            Gender = #{Gender},
            PhoneNumber = #{PhoneNumber},
            Email = #{Email},
            Year = #{Year},
            AcademyDictionary = #{AcademyDictionary},
            MajorDictionary = #{MajorDictionary},
            PoliticalStatusDictionary = #{PoliticalStatusDictionary},
            StudentTypeDictionary = #{StudentTypeDictionary}
        WHERE  UserId = #{UserId}
    </update>


    <select id="getStudentByUid" resultType="com.web.test.DO.Student" >
        SELECT id ,UserId, Name, StudentNumber,
               Gender, PhoneNumber, Email, Year, AcademyDictionary,
               MajorDictionary, PoliticalStatusDictionary, StudentTypeDictionary
         FROM student WHERE  UserId=#{UserId}
    </select>



    <select id="getStudentBySid" resultType="com.web.test.DO.Student" >
        SELECT id ,UserId, Name, StudentNumber,
               Gender, PhoneNumber, Email, Year, AcademyDictionary,
               MajorDictionary, PoliticalStatusDictionary, StudentTypeDictionary
        FROM student WHERE  id=#{studentId}
    </select>



    <select id="setGradeSummary" parameterType="com.web.test.DO.GradeSummary">
        INSERT INTO GradeSummary
        ( StudentId, SocialPracticeGrade, ResearchGrade, VolunteerServiceGrade, AcademicGrade,
         StudentLeadershipGrade, PersonalSummaryGrade, SumGrade)
        VALUES ( #{studentId}, #{socialPracticeGrade}, #{researchGrade}, #{volunteerServiceGrade},
                #{academicGrade}, #{studentLeadershipGrade}, #{personalSummaryGrade}, #{sumGrade})
    </select>

    <select id="getAllGrade" resultType="com.web.test.DO.GradeSummary">
        SELECT ID, StudentId, SocialPracticeGrade, ResearchGrade, VolunteerServiceGrade,
               AcademicGrade, StudentLeadershipGrade, PersonalSummaryGrade, SumGrade
        FROM GradeSummary
    </select>

    <select id="getAllPersonalSummary" resultType="com.web.test.DO.PersonalSummary">
        SELECT  ID, StudentId,PersonalSummaryContent
        FROM   PersonalSummary
    </select>


    <select id="getAllResearch" resultType="com.web.test.DO.Research">
        SELECT ID, StudentId, ResearchContent
        FROM Research
    </select>

    <select id="getAllVolunteerService" resultType="com.web.test.DO.VolunteerService">
        SELECT ID, StudentId, VolunteerServiceContent
        FROM VolunteerService
    </select>

    <select id="getAllSocialPractice" resultType="com.web.test.DO.SocialPractice">
        SELECT ID, StudentId, SocialPracticeContent
        FROM SocialPractice
    </select>

    <select id="getAllStudentLeadership" resultType="com.web.test.DO.StudentLeadership">
        SELECT ID, StudentId, StudentLeadershipContent
        FROM StudentLeadership
    </select>








    <select id="findByPersonalSummaryContent" resultType="com.web.test.DO.PersonalSummary" parameterType="java.lang.String">
        SELECT ID, StudentId, PersonalSummaryContent
        FROM PersonalSummary
        WHERE PersonalSummaryContent = #{PersonalSummaryContent}
    </select>



    <update id="updatePersonalSummaryGrade" parameterType="com.web.test.DO.GradeSummary">
        UPDATE gradesummary
        SET PersonalSummaryGrade = #{personalSummaryGrade}
        WHERE StudentId = #{studentId}
    </update>

    <update id="updateResearchGrade" parameterType="com.web.test.DO.GradeSummary">
        UPDATE gradesummary
        SET  ResearchGrade=#{researchGrade}
        WHERE StudentId = #{studentId}
    </update>

    <update id="updateStudentLeadershipGrade" parameterType="com.web.test.DO.GradeSummary">
        UPDATE gradesummary
        SET  StudentLeadershipGrade=#{studentLeadershipGrade}
        WHERE StudentId = #{studentId}
    </update>

    <update id="updatesocialPracticeGrade" parameterType="com.web.test.DO.GradeSummary">
        UPDATE gradesummary
        SET socialPracticeGrade=#{socialPracticeGrade}
        WHERE StudentId = #{studentId}
    </update>

    <update id="updateVolunteerServiceGrade" parameterType="com.web.test.DO.GradeSummary">
        UPDATE gradesummary
        SET  VolunteerServiceGrade=#{volunteerServiceGrade}
        WHERE StudentId = #{studentId}
    </update>






    <select id="findByStudentId" parameterType="int" resultType="com.web.test.DO.GradeSummary">
        SELECT * FROM  GradeSummary WHERE  studentId= #{studentId}
    </select>

    
    <select id="findByUsername"   resultType="com.web.test.DO.Student">
        SELECT * FROM Student WHERE StudentNumber=#{username}
    </select>





    <select id="psfindBysid" resultType="com.web.test.DO.PersonalSummary">
        SELECT * FROM PersonalSummary WHERE StudentId = #{studentId};
    </select>

    <select id="insertps" parameterType="com.web.test.DO.PersonalSummary">
        INSERT INTO PersonalSummary (StudentId, PersonalSummaryContent)
        VALUES (#{studentId}, #{PersonalSummaryContent});
    </select>

    <update id="updateps" parameterType="com.web.test.DO.PersonalSummary">
        UPDATE PersonalSummary
        SET PersonalSummaryContent = #{PersonalSummaryContent}
        WHERE StudentId = #{studentId};
    </update>


    <!-- Research -->
    <select id="rfindBysid" resultType="com.web.test.DO.Research">
        SELECT * FROM Research WHERE StudentId = #{studentId};
    </select>

    <insert id="insertr" parameterType="com.web.test.DO.Research">
        INSERT INTO Research (StudentId, ResearchContent)
        VALUES (#{studentId}, #{researchContent});
    </insert>

    <update id="updater" parameterType="com.web.test.DO.Research">
        UPDATE Research
        SET ResearchContent = #{researchContent}
        WHERE StudentId = #{studentId};
    </update>

    <!-- SocialPractice -->
    <select id="spfindBysid" resultType="com.web.test.DO.SocialPractice">
        SELECT * FROM SocialPractice WHERE StudentId = #{studentId};
    </select>

    <insert id="insertsp" parameterType="com.web.test.DO.SocialPractice">
        INSERT INTO SocialPractice (StudentId, SocialPracticeContent)
        VALUES (#{studentId}, #{socialPracticeContent});
    </insert>

    <update id="updatesp" parameterType="com.web.test.DO.SocialPractice">
        UPDATE SocialPractice
        SET SocialPracticeContent = #{socialPracticeContent}
        WHERE StudentId = #{studentId};
    </update>

    <!-- StudentLeadership -->
    <select id="slfindBysid" resultType="com.web.test.DO.StudentLeadership">
        SELECT * FROM StudentLeadership WHERE StudentId = #{studentId};
    </select>

    <insert id="insertsl" parameterType="com.web.test.DO.StudentLeadership">
        INSERT INTO StudentLeadership (StudentId, StudentLeadershipContent)
        VALUES (#{studentId}, #{StudentLeadershipContent});
    </insert>

    <update id="updatesl" parameterType="com.web.test.DO.StudentLeadership">
        UPDATE StudentLeadership
        SET StudentLeadershipContent = #{StudentLeadershipContent}
        WHERE StudentId = #{studentId};
    </update>

    <!-- VolunteerService -->
    <select id="vsfindBysid" resultType="com.web.test.DO.VolunteerService">
        SELECT * FROM VolunteerService WHERE StudentId = #{studentId};
    </select>

    <insert id="insertvs" parameterType="com.web.test.DO.VolunteerService">
        INSERT INTO VolunteerService (StudentId, VolunteerServiceContent)
        VALUES (#{studentId}, #{VolunteerServiceContent});
    </insert>

    <update id="updatevs" parameterType="com.web.test.DO.VolunteerService">
        UPDATE VolunteerService
        SET VolunteerServiceContent = #{VolunteerServiceContent}
        WHERE StudentId = #{studentId};
    </update>














</mapper>